<footer class="footer">
    <div class="legalSection">
      <a
        href="https://testpilot.firefox.com/about"
        class="legalSection__link">
        关于 zju-cst
      </a>
      <a
        href="/legal"
        class="legalSection__link">隐私</a>
    </div>
    <div class="socialSection">
      <a
        href="https://github.com/zju-cst/DRLS"
        class="socialSection__link"
      >
        <img
          class="socialSection__icon"
          src="{{ asset_url_for('img/github-icon.svg') }}"
          alt="github"/>
      </a>
    </div>
  </footer>
