<footer class="footer">
    <div class="legalSection">
      <a
        href="https://www.mozilla.org"
        class="legalSection__link"
        role="presentation">
        <img
          class="legalSection__mozLogo"
          src="{{ asset_url_for('img/mozilla-logo.svg') }}"
          alt="mozilla"/>
      </a>
      <a
        href="https://www.mozilla.org/about/legal"
        class="legalSection__link">
        法律
      </a>
      <a
        href="https://testpilot.firefox.com/about"
        class="legalSection__link">
        关于 Test Pilot
      </a>
      <a
        href="/legal"
        class="legalSection__link">隐私</a>
      <a
        href="/legal"
        class="legalSection__link">条款</a>
      <a
        href="https://www.mozilla.org/privacy/websites/#cookies"
        class="legalSection__link">
        Cookie
      </a>
      <a
        href="https://www.mozilla.org/about/legal/report-infringement/"
        class="legalSection__link">
        举报知识产权侵权
      </a>
    </div>
    <div class="socialSection">
      <a
        href="https://github.com/zju-cst/DRLS"
        class="socialSection__link"
        role="presentation">
        <img
          class="socialSection__icon"
          src="{{ asset_url_for('img/github-icon.svg') }}"
          alt="github"/>
      </a>
    </div>
  </footer>
