<header class="header">
    {% block header %}
        <div class="logo">
            <a class="logo__link" href="/">
                <img
                        src="{{ asset_url_for('img/send_logo.svg') }}"
                        alt="Send"/>
                <h1 class="logo__title">DRLS</h1>
            </a>
            <div class="logo__subtitle">
                <a class="logo__subtitle-link" href="http://www.cst.zju.edu.cn">School of Software technology, Zhejiang University </a>
                <div>宿舍随机抽签系统</div>
            </div>
        </div>
    {% endblock %}
</header>

