<!doctype html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Zhejiang University Dormitory Random Lottery System"/>
    <title>{% block page_title %}DRLS{% endblock %}</title>
    {{ stylesheet_tag('main_css') | safe }}
    {% block css %}{% endblock %}
</head>
<body class="{% block body_class %} {% endblock %}" >
{% include "header.html" %}
<main class="container">
    {% block content %} {% endblock %}
</main>

<!-- Small modal -->
<div id="warn-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="warning">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="alert alert-danger" style="margin-bottom: 0">
            <p><strong class="warn-code"></strong> : <span class="warn-msg"></span></p>
        </div>
    </div>
  </div>
</div>

{% include "footer.html" %}
<!-- JavaScript at the bottom for fast page loading -->
{{ javascript_tag('main_js') | safe }}
{% block js %}{% endblock %}
<!-- end scripts -->
</body>
