.uploadArea {
  border: 3px dashed rgba(148, 149, 151, 0.5);
  margin: 0 auto;
  width: 98%;
  /*height: 255px;*/
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: transform 150ms;
  padding: 15px;
  overflow: hidden;
}

.uploadArea__msg {
  font-size: 22px;
  color: var(--lightTextColor);
  margin: 20px 0 10px;
  font-family: 'SF Pro Text', sans-serif;
}

.uploadArea__sizeMsg {
  font-style: italic;
  font-size: 12px;
  line-height: 16px;
  color: var(--lightTextColor);
  margin-bottom: 22px;
}


.btn--file {
  font-size: 20px;
  min-width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.inputFile {
  opacity: 0;
  position: absolute;
  width: 40px;
}

.inputFile--focused + .btn--file {
  background-color: var(--primaryControlHoverColor);
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.input-filed{
  min-width: 200px;
  border: 1px solid #0287e8;
  border-radius: 2px;
}
